{
    "catalog": {
      "uuid": "{{ catalog_uuid }}",
      "metadata": {
        "title": "{{ catalog_title }}",
        "last-modified": "{{ catalog_last_modified }}",
        "version": "{{ catalog_version }}",
        "oscal-version": "{{ oscal_version }}",
        "props": [
          {
            "name": "keywords",
            "value": "computer security, control, control assessment, cybersecurity, information security, SDLC, Software Development Lifecycle, OSCAL, Open Security Controls Assessment Language, Privacy Act, privacy controls, privacy functions, privacy requirements, Secure Software Development Framework, security controls, security functions, security requirements, system security"
          }
        ],
        "links": [
          {
            "href": "#c3397cc9-83c6-4459-adb2-836739dc1b94",
            "rel": "alternate"
          },
          {
            "href": "#f7cf488d-bc64-4a91-a994-810e153ee481",
            "rel": "canonical"
          }
        ],
        "roles": [
          {
            "id": "creator",
            "title": "Document creator"
          },
          {
            "id": "contact",
            "title": "Contact"
          }
        ],
        "parties": [
          {
            "uuid": "41a93829-b76b-43ec-b9e7-250553511549",
            "type": "organization",
            "name": "Joint Task Force, Interagency Working Group",
            "email-addresses": [
              "ssdf@nist.gov"
            ],
            "addresses": [
              {
                "addr-lines": [
                  "National Institute of Standards and Technology",
                  "Attn: Computer Security Division",
                  "Information Technology Laboratory",
                  "100 Bureau Drive (Mail Stop 8930)"
                ],
                "city": "Gaithersburg",
                "state": "MD",
                "postal-code": "20899-8930"
              }
            ]
          },
          {
            "uuid": "a126d847-ae29-4195-ad6a-4c81a4844d92",
            "type": "organization",
            "name": "OSCAL Club",
            "email-addresses": [
              "admin@oscal.club"
            ],
            "addresses": []
          }
        ],
        "responsible-parties": [
          {
            "role-id": "creator",
            "party-uuids": [
              "41a93829-b76b-43ec-b9e7-250553511549"
            ]
          },
          {
            "role-id": "contact",
            "party-uuids": [
              "a126d847-ae29-4195-ad6a-4c81a4844d92"
            ]
          }
        ]
      },
      "groups": [
        {
          "id": "po",
          "class": "family",
          "title": "Prepare the Organization",
          "controls": [
            {
              "id": "po.1",
              "class": "SP800-218",
              "title": "Policy and Procedures",
              "params": [],
              "props": [],
              "links": [
                {
                  "href": "#27847491-5ce1-4f6a-a1e4-9e483782f0ef",
                  "rel": "reference"
                },
                {
                  "href": "#c7ac44e8-10db-4b64-b2b9-9e32ec1efed0",
                  "rel": "reference"
                },
                {
                  "href": "#08b07465-dbdc-48d6-8a0b-37279602ac16",
                  "rel": "reference"
                },
                {
                  "href": "#cec037f3-8aba-4c97-84b4-4082f9e515d2",
                  "rel": "reference"
                },
                {
                  "href": "#4c0ec2ee-a0d6-428a-9043-4504bc3ade6f",
                  "rel": "reference"
                },
                {
                  "href": "#7f473f21-fdbf-4a6c-81a1-0ab95919609d",
                  "rel": "reference"
                },
                {
                  "href": "#ia-1",
                  "rel": "related"
                },
                {
                  "href": "#pm-9",
                  "rel": "related"
                },
                {
                  "href": "#pm-24",
                  "rel": "related"
                },
                {
                  "href": "#ps-8",
                  "rel": "related"
                },
                {
                  "href": "#si-12",
                  "rel": "related"
                }
              ],
              "parts": []
            }
          ]
        }
      ],
      "back-matter": {
        "resources": [
          {
            "uuid": "82460f0b-1060-420e-9181-554e2dc921df",
            "title": "USC 3502",
            "citation": {
              "text": " \"Definitions,\" Title 44 U.S. Code, Sec. 3502. 2011 ed."
            },
            "rlinks": [
              {
                "href": "https://www.govinfo.gov/app/details/USCODE-2011-title44/USCODE-2011-title44-chap35-subchapI-sec3502"
              }
            ]
          },
          {
            "uuid": "ef3550b5-60a0-4489-8d4e-08223a929c7a",
            "title": "USC 552",
            "citation": {
              "text": "United States Code, 2006 Edition, Supplement 4, Title 5 - *Government Organization and Employees* , January 2011."
            },
            "rlinks": [
              {
                "href": "https://www.govinfo.gov/content/pkg/USCODE-2010-title5/pdf/USCODE-2010-title5-partI-chap5-subchapII-sec552a.pdf"
              }
            ]
          },
          {
            "uuid": "c3397cc9-83c6-4459-adb2-836739dc1b94",
            "title": "NIST Special Publication 800-53, Revision 5: * Security and Privacy Controls for Information Systems and Organizations* (PDF)",
            "rlinks": [
              {
                "href": "https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53r5.pdf",
                "media-type": "application/pdf"
              }
            ]
          },
          {
            "uuid": "f7cf488d-bc64-4a91-a994-810e153ee481",
            "title": "NIST Special Publication 800-53, Revision 5: * Security and Privacy Controls for Information Systems and Organizations* (DOI link)",
            "rlinks": [
              {
                "href": "https://doi.org/10.6028/NIST.SP.800-53r5",
                "media-type": "application/pdf"
              }
            ]
          }
        ]
      }
    }
  }
  